body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  display: block;
  padding: 0px;
  margin: 0px;
}

header {
  margin: 0px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
  display:flex;
  flex-wrap: wrap;
  position: fixed;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  z-index: 2
}

.logo .logo-image{
  height: 50px;
  margin: 10px;
}

nav a{
 padding-right:20px;
 color: seashell;
 font-size: 22px;
 text-decoration: underline;
}

.container{
  width: 1200px;
  margin: 0 auto;
  opacity: 0.9;
  padding-top: 69px;
  display: block;
}

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission .content{
  width: 100%;
  background-color:black;
  padding-bottom: 10px;
  margin:auto;
}

.mission h2 {
  margin: 0px;
  padding: 11px;
}
.mission h4{
  margin: 0px;
  padding: 11px;
}

#featured{
  width: 1000px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 70px;
  display: block;
}

.featured h2{
  text-align: center;
  font-family: Helvetica;
  color: seashell;
  padding: 10px;
  margin: 0px;
}

.featured h4{
  padding:10px;
  margin: 0px;
}
.selection {
  width: 1000px;
  margin: auto;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selection img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}
.selection span {
  display: block;
  padding: 10px;
}

.tea {
  padding:5px;
  font-weight: bold;
}

.locations {
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.locations h2 {
  margin: 15px;
  font-weight: bold;
}

.locations .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 980px;
}

.location {
  width: 300px;
  background-color: black;
  text-align: center;
  display: flex;
  opacity: 1;
  align-items: center;
  flex-direction: column;
}

.contact{
  height:200px;
  color: seashell;
}

.contact h2{
  padding: 10px;
  margin:0px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
